#recruitCalc {
  width: 665px;
  font-family: Arial, Helvetica, sans-serif;
  background: #E9EBEE;
  padding: 10px;
  padding-bottom: 15px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

#recruitCalc label {
  font-size: 11pt;
  font-weight: bold;
  color: #404040;
}

.inp-row {
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.calcInpWrap {
  width: 300px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.calcDropWrap {
  width: 192px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

#recruitCalc select {
  margin-top: 5px;
  width: 190px;
  height: 30px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

#recruitCalc input[type='text'] {
  margin-top: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  padding: 5px;
}

#recruitCalc input[type='text']:focus,
select:focus {
  outline: 1px solid #e88b34;
}

.submit {
  width: 94%;
  padding: 12px;
  margin-left: 19px;
  margin-top: 10px;
  border: none;
  outline: none;
  background: #3879B1;
  color: #fff;
  font-size: 13pt;
  border-radius: 3px;
  cursor: pointer;
}

.submit:hover {
  background: #3879B1;
}

.reset {
  cursor: pointer;
  margin-left: 20px;
}

.reset:hover {
  color: #e88b34;
}

.calcResults {
  margin-top: 15px;
  margin-left: -10px;
  margin-bottom: -15px;
  width: 655px;
}

.resLab,
.resNum {
  color: #fff;
  font-size: 12pt;
}

.resNum {
  width: 40%;
  float: right;
}

.resRow {
  width: 100%;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide1-fade-enter-active {
  transition: all .3s ease;
}
.slide1-fade-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide1-fade-enter, .slide1-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.slide2-fade-enter-active {
  transition: all .4s ease;
}
.slide2-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide2-fade-enter, .slide2-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.slide3-fade-enter-active {
  transition: all .5s ease;
}
.slide3-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide3-fade-enter, .slide3-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.slide4-fade-enter-active {
  transition: all .6s ease;
}
.slide4-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide4-fade-enter, .slide4-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.control {
    font-family: arial;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal !important;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background: #fff;
    border: 1px solid #cbcbcb;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #f9dabe;
}

.control input:checked ~ .control_indicator {
    background: #e88b34;
}

.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 8px;
    top: 8px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #FFFFFF;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: default;
  color: #31708F;
  font-size: 11pt;
}


[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}


[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: -3px;
  margin-left: -130px;
  padding: 10px;
  width: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #000;
  background-color: hsla(0, 0%, 8%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  line-height: 1.4;
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 19px 0px rgba(0,0,0,0.3);
}


[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  margin-bottom: -8px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 8%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

[data-tooltip]:hover:before {
  margin-bottom: 5px;
}

[data-tooltip]:hover:after {
  margin-bottom: 0px;
}
