<head>
  <title>Recruitment Calculator</title>
  <link rel="stylesheet" type="text/css" href="css/calcTheme.css">
</head>

<div id="recruitCalc">
  <div class="inp-row">
    <div class="calcDropWrap">
      <label>Product Market Maturity</label> <span data-tooltip="How mature is the overall product market you participate in?  Is it just starting (early), in a high growth stage (growth), well established (mature), or slowing down (decline)."><i class="fas fa-info-circle"></i></span>
      <select v-model="marketMat">
        <option disabled value="">Please select one</option>
        <option>Early</option>
        <option>Growth</option>
        <option>Mature</option>
        <option>Decline</option>
      </select>
    </div>
    <div class="calcDropWrap">
      <label>Market Position</label> <span data-tooltip="What is your company's status and market share in your marketplace?  Are you top of field (Leader), very competitive (challenger), or just starting to making inroads (startup)?"><i class="fas fa-info-circle"></i></span>
      <select v-model="marketPos">
        <option disabled value="">Please select one</option>
        <option>Leader</option>
        <option>Challenger</option>
        <option>Startup</option>
      </select>
    </div>
    <div class="calcDropWrap">
      <label>Prospective Partners</label> <span data-tooltip="What is the typical interest level of the partners being contacted?  Are they suspected to possibly have interest (cold), may have expressed some interest (warm), or are definitely interested (hot)?"><i class="fas fa-info-circle"></i></span>
      <select v-model="leadsProv">
        <option disabled value="">Please select one</option>
        <option>Hot</option>
        <option>Warm</option>
        <option>Cold</option>
      </select>
    </div>
  </div>
  <div class="inp-row" style="margin-left:10px;">
    <label>What is your Partner Recruitment Goal?</label> <span data-tooltip="What result are you targeting. Are you targeting a total annual revenue result or a specific number of partners to recruit?"><i class="fas fa-info-circle"></i></span>
    <div style="margin-top:10px;">
      <label class="control control-radio">
          Target Total Annual Revenue
              <input type="radio" v-model="startWith" v-bind:value="1">
          <div class="control_indicator"></div>
      </label>
      <label style="margin-left:5%;margin-right:5%;">OR</label>
      <label class="control control-radio">
          Target Annual Number of Partner Recruits
              <input type="radio" v-model="startWith" v-bind:value="0">
          <div class="control_indicator"></div>
      </label>
    </div>
  </div>
  <div class="inp-row">
    <span v-if="startWith == '0'" class="calcInpWrap">
      <label for="annPartRec">Target Annual Partners to Recruit</label> <span data-tooltip="How many partners are you targeting to recruit each year?"><i class="fas fa-info-circle"></i></span>
      <input id="annPartRec" v-on:blur="addCommas" v-on:focus="removeCommas" min="0" type="text" v-model="annPartRecInp">
    </span>
    <span v-if="startWith == '1'" class="calcInpWrap">
      <label for="annRevPart">Target Total Annual Revenue</label> <span data-tooltip="What is the total amount of revenue you are targeting from the partners you recruit each year?"><i class="fas fa-info-circle"></i></span>
      <input id="annRevPart" v-on:blur="addCommas" v-on:focus="removeCommas" min="0" type="text" v-model="annRevPartInp">
    </span>
    <span class="calcInpWrap">
      <label for="avgMonRevPart">Average Monthly Revenue Per Partner</label> <span data-tooltip="How much revenue does each of your partners typically generate per month?"><i class="fas fa-info-circle"></i></span>
      <input id="avgMonRevPart" v-on:blur="addCommas" v-on:focus="removeCommas" min="0" type="text" v-model="avgMonRevPartInp">
    </span>
  </div><br>
  <span v-on:click="reset" class="reset">Reset <i style="font-size:10pt;" class="fas fa-sync-alt"></i></span>
  <button class="submit" v-on:click="calculate">Calculate Results</button>
    <div class="calcResults">
      <transition name="fade">
        <div v-if="showRes" style="margin-bottom:10px;font-size:14pt;margin-left:30px;margin-top:30px;">
          Results <span style="color:#e88b34;" data-tooltip="For this model we assume 90 day sales cycle, a 36 month lifecycle, limited partner sales behavior with a 3 month ramp up, and a standard rep cost which can vary."><i class="fas fa-info-circle"></i></span>
        </div>
      </transition>
      <transition name="slide1-fade">
        <div v-if="showRes" class="resRow" style="background:#1f5079">
          <span class="resLab">Average recruited partners per month:</span> <span class="resNum">{{ animARPF }}</span>
        </div>
      </transition>
      <transition name="slide2-fade">
        <div v-if="showRes" class="resRow" style="background:#2b5f8c">
          <span class="resLab">Reps required:</span> <span class="resNum">{{ animRRF }}</span>
        </div>
      </transition>
      <transition name="slide3-fade">
        <div v-if="showRes" class="resRow" style="background:#349850">
          <span class="resLab">Lifetime Value:</span> <span class="resNum">${{ animLVF }}</span>
        </div>
      </transition>
      <transition name="slide4-fade">
        <div v-if="showRes" class="resRow" style="background:#3f79ab">
          <span class="resLab">ROI:</span> <span class="resNum">{{ animROIF }}</span>
        </div>
      </transition>
    </div>
</div>

<script src="bundle.js"></script>
